.product-img {
    text-align: center;
}
.wrap-btn-add-to-cart {
    justify-content: center;
    margin-bottom: 20px;
}

.product-img img{
    height: 150px;
    width: auto;
}
.product-price {
    font-size: 20px;
    text-align: center;
}
.product-features {
    font-size: 17px;
    margin-bottom: 10px;
}